.app {
  margin-top: 100vh;
  margin-bottom: 200px;
}

.titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 16vw;
  padding: 1vw 4vw;
}

.title {
  color: #c92d1f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  position: relative;
  height: 3vw;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  span {
    font-size: 0.8vw;
    letter-spacing: 0.3vw;
  }

  &.visible {
    opacity: 1;
  }

  a {
    text-decoration: none;
    position: relative;
    color: #c92d1f;
    font-weight: 700;
    height: 2vw;
    letter-spacing: 0.3vw;
    font-size: 1.3vw;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      height: 0.1vw;
      background: #c92d1f;
      left: 0;
      width: 100%;
      bottom: 0;
      transform: scaleX(0);
      transition: transform 0.4s ease-out;
      transform-origin: left;
      z-index: 1;
    }

    &:hover {
      &:before {
        transform: scaleX(0.985);
      }
    }
  }

  &:nth-child(2) {
    align-items: center;
    a {
      &:hover {
        &:before {
          transform: scaleX(0.98);
        }
      }
    }
  }

  &:last-child {
    align-items: flex-end;
    a {
      &:hover {
        &:before {
          transform: scaleX(0.98);
        }
      }
    }
  }
}
