.item {
  position: relative;
  //Peut être changer la grotesk pour une font plus fidèle au modèle
  font-family: 'Space Grotesk', sans-serif;
  color: #c92d1f;
  overflow: hidden;

  //Border mais qu'on peut animer
  &:before {
    content: '';
    position: absolute;
    height: 0.2vw;
    background: #c92d1f;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.9s ease-out;
    transform-origin: left;
    z-index: 1;
  }

  &.visible {
    &:before {
      transform: scaleX(1);
    }
  }

  &:hover {
    .item__content {
      color: #e9e1d3;
    }

    .item__background {
      transform: scale(1.1);

      &:after {
        transform: translateY(-100%);
      }
    }
  }

  .item__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.4s ease-out;

    &:before {
      content: '';
      position: absolute;
      background-color: black;
      inset: 0;
      opacity: 0.08;
    }

    &:after {
      content: '';
      position: absolute;
      background: #e9e1d3;
      inset: 0;
      transition: all ease-out 0.35s;
    }
  }

  .item__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 16vw;
    padding: 1vw 4vw;
    transform: translateY(20%);
    opacity: 0;
    transition: transform ease-out 0.5s, color ease-in-out 0.3s,
      opacity 0.3s ease-out;
    cursor: pointer;

    &.visible {
      transform: translateY(0%);
      opacity: 1;
    }

    h2 {
      display: flex;
      align-items: flex-start;
      font-family: 'Crimson Text', sans-serif;
      font-size: 9vw;
      font-weight: 500;
    }

    .number {
      text-decoration: underline;
      text-underline-offset: 0.4vw;
      font-weight: 500;
      font-size: 1.5vw;
      margin-bottom: 5.2vw;
      margin-right: 2vw;
    }

    .item__metas {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;
      margin-top: 3.25vw;
      text-transform: uppercase;

      .description {
        font-size: 0.8vw;
        letter-spacing: 0.3vw;
      }

      p {
        font-weight: 700;
        letter-spacing: 0.3vw;
        font-size: 1.3vw;
      }
    }
  }
}
